footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natours logo')
    //- Used colon in front of li to not write li and a for every line in separate lines.
    ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') Download app
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contact
    p.footer__copyright &copy; by Atish Jadhav. All rights reserved.